# CONFIG_CORE_X86 is not set
# CONFIG_CORE_X86_64 is not set
# CONFIG_CORE_CORTEX_M0 is not set
# CONFIG_CORE_CORTEX_M0P is not set
# CONFIG_CORE_CORTEX_M3 is not set
CONFIG_CORE_CORTEX_M4=y
# CONFIG_CORE_CORTEX_M7 is not set
# CONFIG_CORE_RISCV is not set
# CONFIG_FAMILY_LPC43XX_M4 is not set
# CONFIG_FAMILY_M48X is not set
CONFIG_FAMILY_STM32F4XX=y

#
# Core settings
#
CONFIG_CORE_CORTEX_HAS_SYSTICK=y
# CONFIG_CORE_CORTEX_NO_DEINIT is not set
CONFIG_CORE_CORTEX_FPU=y
# CONFIG_CORE_CORTEX_MEMORY_DEBUG is not set
# CONFIG_CORE_CORTEX_MPU is not set
CONFIG_CORE_CORTEX_SYSTICK=y
# end of Core settings

#
# Peripheral drivers
#

#
# Generic drivers
#
# CONFIG_GENERIC_BUFFERING_PROXY is not set
# CONFIG_GENERIC_GPIO_BUS is not set
CONFIG_GENERIC_LIFETIME_TIMER_32=y
CONFIG_GENERIC_LIFETIME_TIMER_64=y
# CONFIG_GENERIC_MMCSD is not set
# CONFIG_GENERIC_RAM_PROXY is not set
# CONFIG_GENERIC_SDIO_SPI is not set
# CONFIG_GENERIC_TIMER_FACTORY is not set
CONFIG_GENERIC_WQ=y
# CONFIG_GENERIC_WQ_LOAD is not set
CONFIG_GENERIC_WQ_NONSTOP=y
CONFIG_GENERIC_WQ_PM=y
# CONFIG_GENERIC_WQ_PROFILE is not set
CONFIG_GENERIC_WQ_IRQ=y
CONFIG_GENERIC_WQ_IRQ_NONSTOP=y
# CONFIG_GENERIC_WQ_IRQ_PROFILE is not set
# CONFIG_GENERIC_WQ_UNIQUE is not set
# end of Generic drivers

CONFIG_PM=y
CONFIG_PLATFORM_USB=y
# CONFIG_PLATFORM_USB_HS is not set
# CONFIG_PLATFORM_USB_SOF is not set
CONFIG_PLATFORM_USB_DEVICE=y
CONFIG_GEN_ADC="gen_1"
CONFIG_GEN_I2C="gen_1"
CONFIG_GEN_PIN="gen_2"
CONFIG_GEN_UART="gen_1"
# CONFIG_PLATFORM_USB_DMA is not set
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=12
CONFIG_GEN_USB="gen_2"

#
# Power settings
#
# end of Power settings

#
# Peripherals
#
# CONFIG_PLATFORM_STM32_NO_DEINIT is not set
# CONFIG_PLATFORM_STM32_ADC_BASE is not set
CONFIG_PLATFORM_STM32_CAN=y
CONFIG_PLATFORM_STM32_CAN_COUNTERS=y
# CONFIG_PLATFORM_STM32_CAN_EXACT_RATE is not set
CONFIG_PLATFORM_STM32_CAN_PM=y
CONFIG_PLATFORM_STM32_CAN_SJW=1
CONFIG_PLATFORM_STM32_CAN_SP=75
CONFIG_PLATFORM_STM32_CAN_WATERMARK=y
CONFIG_PLATFORM_STM32_DMA=y
CONFIG_PLATFORM_STM32_DMA_PRIORITY=3
# CONFIG_PLATFORM_STM32_EXTI is not set
# CONFIG_PLATFORM_STM32_FLASH is not set
CONFIG_PLATFORM_STM32_GPTIMER_BASE=y
CONFIG_PLATFORM_STM32_GPTIMER_PM=y
CONFIG_PLATFORM_STM32_GPTIMER=y
# CONFIG_PLATFORM_STM32_GPTIMER_PWM is not set
CONFIG_PLATFORM_STM32_I2C_BASE=y
CONFIG_PLATFORM_STM32_I2C_PM=y
# CONFIG_PLATFORM_STM32_I2C_RC is not set
CONFIG_PLATFORM_STM32_I2C_RECOVERY=y
CONFIG_PLATFORM_STM32_I2C=y
CONFIG_PLATFORM_STM32_IWDG=y
# CONFIG_PLATFORM_STM32_SDIO is not set
# CONFIG_PLATFORM_STM32_SPI_BASE is not set
# CONFIG_PLATFORM_STM32_UART_BASE is not set
CONFIG_PLATFORM_USB_IN_BUFFERS=2
# end of Peripherals

CONFIG_PLATFORM_STM32_I2C1=y
CONFIG_PLATFORM_STM32_I2C2=y
# CONFIG_PLATFORM_STM32_TIM1 is not set
CONFIG_PLATFORM_STM32_TIM2=y
CONFIG_PLATFORM_STM32_TIM3=y
# CONFIG_PLATFORM_STM32_TIM6 is not set
# CONFIG_PLATFORM_STM32_TIM7 is not set
# CONFIG_PLATFORM_STM32_TIM14 is not set
CONFIG_PLATFORM_STM32_CAN1=y
CONFIG_PLATFORM_STM32_CAN2=y
CONFIG_PLATFORM_STM32_TIM4=y
CONFIG_PLATFORM_STM32_TIM5=y
# CONFIG_PLATFORM_STM32_TIM8 is not set
# CONFIG_PLATFORM_STM32_TIM9 is not set
# CONFIG_PLATFORM_STM32_TIM10 is not set
# CONFIG_PLATFORM_STM32_TIM11 is not set
# CONFIG_PLATFORM_STM32_TIM12 is not set
# CONFIG_PLATFORM_STM32_TIM13 is not set

#
# Enabled peripherals
#

#
# ADC
#
# end of ADC

#
# bxCAN
#
# end of bxCAN

#
# I2C
#
CONFIG_PLATFORM_STM32_I2C3=y
# end of I2C

#
# General Purpose Timers
#
# end of General Purpose Timers

#
# SPI
#
# end of SPI

#
# UART
#
# end of UART

#
# USB
#
CONFIG_PLATFORM_STM32_USB_FS=y
CONFIG_PLATFORM_STM32_USB_HS=y
# end of USB
# end of Enabled peripherals

#
# USB
#
CONFIG_USB_DEVICE=y
# CONFIG_USB_DEVICE_UAC is not set
CONFIG_USB_DEVICE_COMPOSITE=y
CONFIG_USB_DEVICE_CDC_ACM=y
# CONFIG_USB_DEVICE_CDC_ACM_INTERRUPTS is not set
# CONFIG_USB_DEVICE_CDC_ACM_WATERMARK is not set
# CONFIG_USB_DEVICE_DFU is not set
# CONFIG_USB_DEVICE_HID is not set
# CONFIG_USB_DEVICE_MSC is not set

#
# USB Device settings
#
CONFIG_USB_DEVICE_CONTROL_REQUESTS=4
CONFIG_USB_DEVICE_STRINGS=y
# end of USB Device settings

# CONFIG_USB_TRACE is not set
# end of USB
# end of Peripheral drivers
